<script>
$(document).ready(function(){
	$("#player_check").click(function(){
    	$.ajax({
        	url: "<%= status_play_path(:id => @ident) %>",
            type: "GET",
			data: {game: $("#game_id").val() },
        })
    });
});
$(document).ready(function(){
	$("#player_bet").click(function(){
    	$.ajax({
        	url: "<%= status_play_path(:id => @ident) %>",
            type: "GET",
			data: {game: $("#game_id").val(),bet_val: $("#player_bet_value").val() },
        })
    });
});
</script>
<div class="table_bg">	
	<table class="play_table">
		<tr>
			<td style="text-align:center;padding-top:57px">
				<br />
				<%= image_tag('cards/b1fv.png', :class => 'hand_card') %>
				<%= image_tag('cards/b1fv.png', :class => 'hand_card') %>
			</td>
		</tr>
		<tr>
			<td style="text-align:center;height:150px;" id="showdown">				
			</td>
		</tr>
		<tr>
			<td style="text-align:center;">									
				<%= image_tag("cards/#{@game["player_cards"]["1"][0]}.png", :class => 'hand_card') %>
				<%= image_tag("cards/#{@game["player_cards"]["1"][1]}.png", :class => 'hand_card') %><br />				
				<span style="color:white;font-weight:bold;" id="show_rank"></span>
			</td>
		</tr>
	</table>
	<table style="width:100%;">
		<tr>
			<td style="text-align:center;">
							
			</td>
		</tr>		
	</table>	
</div>
<div class="footer">
	<input value="check" type="submit" id="player_check" class="btn btn-success">
	<input value="bet" id="player_bet_value" />
	<input value="bet" type="submit" id="player_bet" class="btn btn-warning">
	<input value="call" type="submit" id="palyer_call" class="btn btn-info">
	<input value="fold" type="submit" id="palyer_fold" class="btn btn-danger">
	<span style="color:gold;">
		 Your Current Balance
		 <%= number_with_delimiter(current_user.user_balance.balance, :delimiter => ',') %>
	</span>
</div>

<div id="game_id"><%= @ident %></div>